   * {
       margin: 0;
       padding: 0;
   }
   
   header {
       background-image: url('../images/layer-10.jpg');
       width: 100%;
       max-width: 1600px;
       height: 770px;
   }
   
   .brand {
       display: flex;
       color: #ffffff;
       font-family: Montserrat;
       font-size: 24px;
       font-weight: 700;
       line-height: 36px;
   }
   
   .brand,
   .item-link {
       text-decoration: none;
       transition: all 0.3s linear 0s;
       color: #fff;
   }
   
   .area {
       display: flex;
       margin-right: auto;
       margin-left: auto;
       flex-flow: row wrap;
       align-items: stretch;
   }
   
   .navbar {
       justify-content: space-between;
       padding: 40px 230px 0 229px;
   }
   
   .item-link {
       margin-right: 20px;
   }
   
   .list {
       display: flex;
       flex-flow: row nowrap;
       align-items: center;
       color: #ffffff;
       font-family: Montserrat;
       font-size: 14px;
       font-weight: 400;
       line-height: 24px;
   }
   
   .startup {
       color: #ffffff;
       font-weight: 400;
       line-height: 24px;
       font-family: Montserrat;
       font-size: 48px;
       font-weight: 400;
       text-transform: uppercase;
       margin-bottom: 25px;
   }
   
   .template {
       color: #ffffff;
       font-weight: 400;
       line-height: 24px;
       font-family: "Roboto Slab";
       font-size: 20px;
       font-weight: 400;
   }
   
   .welcome {
       display: flex;
       flex-direction: column;
       text-align: center;
       margin-top: 323px;
   }
   
   .button {
       cursor: pointer;
       width: 111px;
       border: 1px solid #ffffff;
       border-radius: 3px;
       padding: 5px;
       margin: 50px auto;
   }
   
   .button a {
       text-decoration: none;
       color: #ffffff;
       font-family: Montserrat;
       font-size: 16px;
       font-weight: 400;
       line-height: 24px;
       text-transform: uppercase;
   }
   
   .text,
   .about,
   .main_works {
       text-align: center;
       margin-top: 65px;
   }
   
   .info {
       color: #555555;
       font-family: Montserrat;
       font-size: 20px;
       font-weight: 400;
       line-height: 24px;
       text-transform: uppercase;
       margin-bottom: 30px;
       padding-top: 99px;
   }
   
   hr {
       width: 50px;
       height: 2px;
       background-color: #555555;
       margin-left: 48.2%;
   }
   
   .info2 {
       color: #555555;
       font-family: "Roboto Slab";
       font-size: 16px;
       font-weight: 400;
       line-height: 24px;
       margin-top: 30px;
   }
   
   .services {
       margin-top: 30px;
       display: flex;
       text-align: center;
   }
   
   .typo {
       color: #555555;
       font-family: Montserrat;
       font-size: 14px;
       font-weight: 400;
       line-height: 24px;
       text-transform: uppercase;
   }
   
   .lorem {
       margin: 30px 50px 0 50px;
       color: #555555;
       font-family: "Roboto Slab";
       font-size: 14px;
       font-weight: 400;
       line-height: 24px;
   }
   
   .container {
       background-color: #f8f8f8;
   }
   
   .content {
       display: flex;
   }
   
   .slider {
       width: 70%;
       margin: 100px auto;
   }
   
   .slick-slide {
       margin: 0px 20px;
   }
   
   .slick-slide img {
       width: 100%;
   }
   
   .social_block {
       display: flex;
       justify-content: center;
       list-style: none;
       text-decoration: none;
   }
   
   .social_block li {
       margin: -39px 10px 0 0;
       list-style: none;
       display: none;
       font-size: 22px;
   }
   
   .slider_element h5 {
       text-align: center;
       color: #555555;
       font-family: Montserrat;
       font-size: 14px;
       font-weight: 400;
       line-height: 24px;
       text-transform: uppercase;
   }
   
   .slider_element p {
       text-align: center;
       color: #555555;
       font-family: "Roboto Slab";
       font-size: 13px;
       font-weight: 400;
       line-height: 24px;
   }
   
   .slider_element:hover li {
       display: block;
   }
   
   .menu_works-element {
       display: flex;
       justify-content: center;
       list-style: none;
       margin: 15px 0 35px 0;
   }
   
   .menu_works-element li {
       margin-right: 15px;
   }
   
   .menu_works-element li a {
       text-decoration: none;
   }
   
   .grid {
       width: 100%;
       max-width: 1280px;
       min-width: 460px;
       margin: 0 auto;
       padding: 0 30px;
       display: flex;
       flex-wrap: wrap;
       box-sizing: border-box;
   }
   
   .grid-item {
       min-height: 200px;
       margin: 0 10px 20px;
       flex: 1 1 calc(33.33%-20px);
       display: flex;
       justify-content: center;
       align-items: center;
   }
   
   .grid-item:hover img {
       background: url('../images/rectangle-9.png');
       opacity: 0.7;
   }