   * {
       margin: 0;
       padding: 0;
   }
   
   header {
       background-image: url('../images/layer-10.jpg');
       width: 100%;
       height: 770px;
   }
   
   .brand {
       display: flex;
       color: #ffffff;
       font-family: Montserrat;
       font-size: 24px;
       font-weight: 700;
       line-height: 36px;
   }
   
   .brand,
   .item-link {
       text-decoration: none;
       transition: all 0.3s linear 0s;
       color: #fff;
   }
   
   .area {
       display: flex;
       margin-right: auto;
       margin-left: auto;
       flex-flow: row wrap;
       align-items: stretch;
   }
   
   .navbar {
       justify-content: space-between;
       padding: 40px 230px 0 229px;
   }
   
   .item-link {
       margin-right: 20px;
   }
   
   .list {
       display: flex;
       flex-flow: row nowrap;
       align-items: center;
       color: #ffffff;
       font-family: Montserrat;
       font-size: 14px;
       font-weight: 400;
       line-height: 24px;
   }
   
   .startup {
       color: #ffffff;
       font-weight: 400;
       line-height: 24px;
       font-family: Montserrat;
       font-size: 48px;
       font-weight: 400;
       text-transform: uppercase;
       margin-bottom: 25px;
   }
   
   .template {
       color: #ffffff;
       font-weight: 400;
       line-height: 24px;
       font-family: "Roboto Slab";
       font-size: 20px;
       font-weight: 400;
   }
   
   .welcome {
       display: flex;
       flex-direction: column;
       text-align: center;
       margin-top: 323px;
   }
   
   .button {
       cursor: pointer;
       width: 111px;
       border: 1px solid #ffffff;
       border-radius: 3px;
       padding: 5px;
       margin: 50px auto;
   }
   
   .button a {
       text-decoration: none;
       color: #ffffff;
       font-family: Montserrat;
       font-size: 16px;
       font-weight: 400;
       line-height: 24px;
       text-transform: uppercase;
   }
   
   .text,
   .about,
   .main_works {
       text-align: center;
       margin-top: 65px;
   }
   
   .info {
       color: #555555;
       font-family: Montserrat;
       font-size: 20px;
       font-weight: 400;
       line-height: 24px;
       text-transform: uppercase;
       margin-bottom: 30px;
       padding-top: 99px;
   }
   
   hr {
       width: 50px;
       height: 2px;
       background-color: #555555;
       margin-left: 48.2%;
   }
   
   .info2 {
       color: #555555;
       font-family: "Roboto Slab";
       font-size: 16px;
       font-weight: 400;
       line-height: 24px;
       margin-top: 30px;
   }
   
   .services {
       margin-top: 30px;
       display: flex;
       text-align: center;
   }
   
   .typo {
       color: #555555;
       font-family: Montserrat;
       font-size: 14px;
       font-weight: 400;
       line-height: 24px;
       text-transform: uppercase;
   }
   
   .lorem {
       margin: 30px 50px 0 50px;
       color: #555555;
       font-family: "Roboto Slab";
       font-size: 14px;
       font-weight: 400;
       line-height: 24px;
   }
   
   .container {
       background-color: #f8f8f8;
   }
   
   .content {
       display: flex;
   }
   
   .slider {
       width: 96%;
       margin: 100px auto;
   }
   
   .slick-slide {
       margin: 0px 20px;
   }
   
   .slick-slide img {
       width: 100%;
   }
   
   .social_block {
       display: flex;
       justify-content: center;
       list-style: none;
       text-decoration: none;
   }
   
   .social_block li {
       margin: -39px 10px 0 0;
       list-style: none;
       display: none;
       font-size: 22px;
   }
   
   .social_block li a:hover {
       color: red;
   }
   
   .social_block li a {
       color: white;
   }
   
   .slider_element h5 {
       text-align: center;
       color: #555555;
       font-family: Montserrat;
       font-size: 14px;
       font-weight: 400;
       line-height: 24px;
       text-transform: uppercase;
   }
   
   .slider_element p {
       text-align: center;
       color: #555555;
       font-family: "Roboto Slab";
       font-size: 13px;
       font-weight: 400;
       line-height: 24px;
   }
   
   .slider_element:hover li {
       display: block;
   }
   
   .menu_works-element {
       display: flex;
       justify-content: center;
       list-style: none;
       margin: 15px 0 35px 0;
   }
   
   .menu_works-element li {
       margin-right: 15px;
   }
   
   .menu_works-element li a {
       text-decoration: none;
   }
   
   .holder {
       position: relative;
       width: 360px;
       height: 320px;
       margin: 30px auto;
       display: flex;
   }
   
   .block {
       position: absolute;
       text-align: center;
       padding-top: 100px;
       width: 360px;
       height: 220px;
       background-color: #c0301c;
       opacity: 0.7;
       display: none;
   }
   
   .holder:hover .block {
       display: block;
   }
   
   .block_element-button {
       width: 100px;
       height: 38px;
       background-color: #ffffff;
       color: #c0301c;
       font-family: "Roboto Slab";
       font-size: 14px;
       font-weight: 400;
       line-height: 24px;
       text-transform: uppercase;
       border: none;
   }
   
   .grid {
       width: 100%;
       padding: 0 100px;
       display: flex;
       flex-wrap: wrap;
       box-sizing: border-box;
   }
   
   .block h6 {
       color: #ffffff;
       font-family: Montserrat;
       font-size: 18px;
       font-weight: 400;
       line-height: 24px;
   }
   
   .block p {
       color: #ffffff;
       font-family: "Roboto Slab";
       font-size: 12px;
       font-weight: 400;
       line-height: 24px;
   }
   
   .our_work {
       width: 100%;
       height: 369px;
       margin-top: 100px;
       background-image: url('../images/paralax-section.jpg');
   }
   
   .our_work p {
       text-align: center;
       padding-top: 99px;
       color: #ffffff;
       font-family: "Roboto Slab";
       font-size: 30px;
       font-weight: 400;
       line-height: 44px;
   }
   
   .main_blog-element {
       display: flex;
       justify-content: center;
   }
   
   .main_blog-element-image {
       margin: 69px 41px 71px 230px;
   }
   
   .main_blog-element-text {
       display: flex;
       flex-direction: column;
       margin-top: 69px;
   }
   
   .main_blog-elemen-date {
       display: flex;
   }
   
   .main_blog-elemen-date p {
       margin-right: 10px;
       padding: 15px;
       border: 2px solid #555555;
       color: #777777;
       font-family: Montserrat;
       font-weight: 700;
       line-height: 20px;
       text-transform: uppercase;
       font-size: 14px;
       text-align: center;
   }
   
   .main_blog-element-info {
       display: flex;
       flex-direction: column;
       width: 70%;
   }
   
   .main_blog-element-info h4 {
       color: #555555;
       font-family: Montserrat;
       font-size: 16px;
       font-weight: 400;
       line-height: 24px;
       text-transform: uppercase;
   }
   
   .main_blog-element-info h5 {
       color: #777777;
       font-family: "Roboto Slab";
       font-size: 13px;
       font-weight: 400;
       font-style: italic;
       line-height: 24px;
   }
   
   .main_blog-element-info h5 span {
       color: red;
   }
   
   .main_blog-element-info p {
       color: #555555;
       font-family: "Roboto Slab";
       font-size: 14px;
       font-weight: 400;
       line-height: 24px;
   }
   
   .main_blog-element-info a {
       text-decoration: none;
       color: #777777;
       font-family: "Roboto Slab";
       font-size: 13px;
       font-weight: 700;
       line-height: 24px;
       text-transform: uppercase;
   }
   
   .main_blog-element-info:hover a,
   .main_blog-element-info:hover h4 {
       color: #c0301c;
   }
   
   .slider_clients-element {
       display: flex;
       justify-content: space-around;
   }
   
   #clients {
       width: 100%;
   }
   
   .slider_clients {
       padding-top: 100px;
       background-color: #f8f8f8;
   }
   
   .slider_clients-text {
       margin-top: 150px;
       display: flex;
       flex-direction: column;
       align-items: center;
       color: #555555;
       font-family: "Roboto Slab";
       font-weight: 400;
       line-height: 30px;
       text-align: center;
   }
   
   .slider_clients-text h5 {
       font-size: 18px;
       font-style: italic;
   }
   
   .slider_clients-text p {
       margin-top: 20px;
       font-size: 20px;
   }
   
   #main_contact {
       margin-bottom: 100px;
   }
   
   .main_contact-element {
       display: flex;
       justify-content: space-around;
       margin-top: 70px;
   }
   
   .main_contact-address i {
       margin-top: 10px;
       color: #555555;
       font-size: 14px;
       font-weight: 400;
       line-height: 30px;
       text-transform: uppercase;
   }
   
   .main_contact-address p {
       color: #555555;
       font-family: "Roboto Slab";
       font-size: 12px;
       font-weight: 400;
       line-height: 20px;
   }
   
   .main_contact-form input[type="text"],
   .main_contact-form input[type="email"] {
       width: 350px;
       height: 44px;
       margin: 10px;
       border: 1px solid #555555;
   }
   
   .main_contact-form textarea {
       width: 740px;
       height: 104px;
       margin: 10px;
       border: 1px solid #555555;
   }
   
    ::-webkit-input-placeholder,
    ::-webkit-textarea-placeholder {
       color: #555555;
       opacity: 0.7;
       font-family: "Roboto Slab";
       font-size: 12px;
       font-weight: 400;
       line-height: 20px;
       text-transform: uppercase;
   }
   
   .main_contact-form input[type="submit"] {
       width: 170px;
       height: 44px;
       border: 1px solid #555555;
       margin: 10px;
       color: #555555;
       font-family: "Roboto Slab";
       font-size: 12px;
       font-weight: 400;
       line-height: 20px;
       text-transform: uppercase;
       background-color: #ffffff;
   }
   
   .main_contact-form input[type="text"],
   .main_contact-form input[type="email"],
   .main_contact-form textarea {
       padding: 5px 0 0 10px;
   }
   
   input[type="text"]:focus,
   input[type="email"]:focus,
   textarea:focus {
       border: 1px solid red;
   }
   
   .main_contact-form i {
       font-size: 12px;
       font-weight: 400;
       line-height: 20px;
       color: #555555;
   }
   
   .fa-star:before {
       color: red;
   }
   
   footer {
       width: 100%;
       height: 307px;
       background-color: #c0301c;
   }
   
   footer p {
       text-align: center;
       margin-top: 30px;
       color: #ffffff;
       font-family: "Roboto Slab";
       font-size: 12px;
       font-weight: 400;
       line-height: 20px;
       text-transform: uppercase;
   }
   
   .footer_element {
       display: flex;
       justify-content: center;
       padding: 50px;
   }
   
   .footer_element-social a {
       margin-right: 15px;
       color: #ffffff;
       width: 35px;
       height: 35px;
   }